/* Style for the grid container */
.grid-container-buy-panel {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 columns */
    border: 1px solid white;
    padding: 4px;
    justify-content: center;
    align-items: center;
  }

  /* Style for grid items (cells) */
  .grid-item-buy-panel {
    border: 1px solid white;
    padding: 4px;
    text-align: left;
  }

  .grid-item-above-buy-panel {
    border: 1px solid white;
    padding: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

.wrap {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
