.price-per-unit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.BuyButtonNow{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 20px;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    height: 35px;
    background-color: #009989;
    opacity: 70%;
    color: #ffffff;
    box-shadow: 0 2px 10px var(--black-a7);
    margin-right: 15px;
}

.BuyButtonNow:hover{
        background-color: #009989;
        opacity: 58%;
}